<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @micropst.content %>
</p>

<p>
  <b>\:</b>
  <%= @micropst.\ %>
</p>


<%= link_to 'Edit', edit_micropst_path(@micropst) %> |
<%= link_to 'Back', micropsts_path %>
